<!DOCTYPE html>
<html ng-app='addressBook'>
  <head>
    <title>Address Book</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>Address Book</h1>
	<div ng-controller="addressBookController as abCtrl">	
		<form name="newContactForm" ng-submit="newContactForm.$valid && abCtrl.addNewContact()">
	  <div class="form-group">	
      <label > Name:</label>
         <input type="text" ng-model="abCtrl.newContact.name">
      </div>
      <div class="form-group">
      <label > Email: </label>
        <input type="text" ng-model="abCtrl.newContact.email">
      </div>
      <div class="form-group">
      <label >  Phone:  </label>
       <input type="text" ng-model="abCtrl.newContact.phone">
      </div>
      <input type="submit" value="Add Contact" ng-disabled="newContactForm.$invalid" >
    </form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>   
        </tr>
        </thead>
      </thead>
      <tbody>
        <tr ng-repeat="contact in abCtrl.contacts">
          <td><img class="ab-img" ng-src="{{contact.image}}"></td>
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td><button ng-click="abCtrl.removeContact(contact)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src='bower_components/jquery/dist/jquery.min.js'></script>
  <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='bower_components/angularjs/angular.min.js'></script>
  <script src='js/main.js'></script>
  </body>
</html>
