<form name="newContactForm" ng-submit="newContactForm.$valid && ab.addNewContact()" novalidate>
	  <div class="col-xs-4">	
      <label class="control-label"> Name:</label>
         <input class="form-control" type="text" ng-model="ab.newContact.name" >
      </div>
      <div class="col-xs-4">
      <label class="control-label"> Email: </label>
        <input class="form-control" type="text" ng-model="ab.newContact.email" >
      </div>
      <div class="col-xs-4">
      <label class="control-label">  Phone:  </label>
       <input class="form-control" type="text" ng-model="ab.newContact.phone">
      </div>
        <input type="submit" class="btn btn-success" value="Add Contact" ng-show="newContactForm.$valid"/>
    </form>
